html {
    scroll-behavior: smooth;
    font-family: Montserrat;
}

* {
    scroll-behavior: smooth;
}

.container {
    width: 75%;
    margin:0 auto;
}

@media(max-width: 1400px) {
    .container {
        width: 80%;
    }    
}

@media(max-width: 1280px) {
    .container {
        width: 85%;
    }    
}

@media(max-width: 992px) {
    .container {
        width: 90%;
    }    
}

@media(max-width: 768px) {
    .container {
        width: 95%;
        margin:auto;
    }    
}


/*story style*/

.story-pages {
    padding: 6rem 0;
    margin-top: -3px;
    background:url('imgs/scairi.jpg');
}

.story-block h2 {
    font-size: 30px;
    line-height: 35px;
    font-weight: 800;;
    color:#fff;
    margin-bottom:1rem;
}

.story-block img {
    width: 100%;
    margin-bottom: 1rem;
}

.story-block {
    background:#111212;
    padding: 2rem;
    border-radius: 10px;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    border: 1px solid #fff;
}

.story-block p {
    color:#fff;
    margin-bottom: 1rem;
    font-size: 16px;
    line-height: 25px;
}


.story-block-wrapper {
    width: 90%;
    flex: 0 0 90%;

}

.story-content {
    display: none;
    transition: 0.3s;
}

.page-content-active {
    display: block;
}

.story-block-controls {
    width: 7%;
    flex: 0 0 7%;
    border: 1px solid #fff;
    border-radius: 10px;
    text-align: center;
    padding-top: 1rem;

    flex-direction: column;
    display: flex;
    align-items: center;
}

.page-dot {
    background: none;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    border: dotted 1px #fff;
    cursor:pointer;
    transition: 0.3s;
}

.page-dot-active {
    background: #fff;
}

.control-spacer {
    height:1rem;
    border: dotted 1px #fff;
}

@media(max-width: 768px) {
    .story-block-controls {
        position: fixed;
        flex-direction: row;
        width: 100%;
        justify-content: center;
        left: 0;
        background: #111212;
        padding-bottom: 1rem;
        bottom: 49px;
    }

    .control-spacer {
        height:0;
        width: 1rem;
    }

    .story-block-wrapper {
        width: 100%;
        flex: 0 0 100%;
    }

    .story-block {
        padding: 0;
    }

    .story-content {
        padding: 1.5rem;
    }

    .story-block-controls {
        border-radius: 10px 10px 0 0;
    }
}