/* Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Global Styles */
body {
	font-family: Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
}

/* Hero Section Styles */
#hero-section {
	height: 100vh;
	background-color: #000;
	position: relative;
}

.cat-image {
	background-image: url("https://source.unsplash.com/random/1920x1080/?cat");
	background-size: cover;
	background-position: center;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	opacity: 1;
	transition: opacity .5s ease-in-out;
}

.scroll-down {
	position: absolute;
	bottom: 30px;
	left: 50%;
	transform: translateX(-50%);
	color: #fff;
	text-align: center;
	opacity: 1;
	transition: opacity .5s ease-in-out;
}

.scroll-down span {
	font-size: 1.2rem;
}

.arrow {
	border: solid white;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 5px;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

.hide {
	opacity: 0;
	visibility: hidden;
}

/* Cat Section Styles */
#cat-section {
	height: 100vh;
	background-color: #fff;
	position: relative;
}

#cat-section .cat-image {
	background-image: url("https://source.unsplash.com/random/1920x1080/?cat");
	background-size: cover;
	background-position: center;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: opacity .5s ease-in-out;
}
